@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary: hsl(4, 100%, 67%);
  --dark-slate-grey: #242742;
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.overflow {
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.container .image {
  background: url(./assets/images/illustration-sign-up-mobile.svg);
  border-radius: 0 0 15px 15px;
  background-size: cover;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
}
.container section {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
  margin-bottom: 1.3rem;
  line-height: 1.1;
}
.container section .list-items {
  display: flex;
  gap: 15px;
  margin-bottom: 0.7rem;
}
.container section p {
  margin-bottom: 1.3rem;
}
.same {
  color: var(--charcoal-grey);
  line-height: 1.5;
  font-weight: 400;
}
.container .list {
  margin-bottom: 1.3rem;
}
.container section form {
  display: flex;
  flex-direction: column;
}
.container section form label {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
}
.container .label {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.container .label label:nth-child(2) {
  color: transparent;
}
#message.error {
  color: var(--primary);
}
.box {
  padding: 1.1rem 1.2rem;
  border-radius: 8px;
  font-size: 0.9rem;
}
.container form .input-box {
  border: 1px solid var(--grey);
  margin-bottom: 1.2rem;
}
.input-box:focus {
  outline: 2px solid var(--grey);
}
.input-box.error {
  outline: 1px solid var(--primary);
  color: var(--primary);
  background-color: hsla(4, 100%, 67%, 0.24);
}
.subscribe {
  border: none;
  background-color: var(--dark-slate-grey);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.subscribe:hover {
  background-image: linear-gradient(to right, #d0476f 0%, #ff6257 50%);
}
.success-message {
  display: none;
}
.success-message.active {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.success-message-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}
.top {
  padding-top: 100px;
}
.top figure {
  margin-bottom: 1.5rem;
}
.bottom {
  margin-bottom: 1.3rem;
}
.bottom button {
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 8px;
  z-index: -1;
  background-color: var(--white);
  width: 482px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 768px) {
  body {
    gap: 20px;
    background-color: var(--dark-slate-grey);
  }
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: fit-content;
    width: 900px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    scale: 0.85;
  }
  .container section {
    padding: 40px;
  }
  .container .image {
    width: 400px;
    height: 550px;
    border-radius: 15px;
    background: url(./assets/images/illustration-sign-up-desktop.svg);
  }
  .title {
    font-size: 3.5rem;
  }
  .attribution {
    color: var(--white);
    background-color: transparent;
  }
  .success-message {
    align-items: center;
  }
  .success-message.active {
    background-color: var(--dark-slate-grey);
  }
  .success-message-container {
    height: fit-content;
    gap: 1.8rem;
    border-radius: 30px;
    padding: 50px;
    scale: 0.85;
    max-width: 480px;
  }
  .success-message-container .top {
    padding: 0;
  }
  .success-message-container .bottom {
    margin: 0;
  }
}
